<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- TAMBAHAN (tidak mengubah yang lama) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Absens">
        <activity
            android:name=".GantiSandiActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".KalenderActivity"
            android:exported="false" />
<!--        <application-->
<!--            android:name=".MyApplication"-->
<!--            android:theme="@style/Theme.MyApp"/>-->
        <activity
            android:name=".DetailSPActivity"
            android:exported="false" />
        <activity
            android:name=".IzinActivity"
            android:exported="false" />
        <activity
            android:name=".CutiActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="true" /> <!-- Splash sebagai launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <meta-data
                android:name="org.osmdroid.config.userAgentValue"
                android:value="com.example.absens" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activity lain -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".ResetPasswordActivity" />
    </application>

</manifest>